.vscode/**
.vscode-test/**
src/**
webview/**
samples/**
**/*.ts
**/*.tsx
**/*.map
**/*.vsix
.gitignore
.gitattributes
tsconfig.json
tsconfig.webview.json
esbuild.mjs
node_modules/**
media/icon.svg
**/.DS_Store
